.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.form {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input {
    padding: 20px;
    background-color: transparent;
    border: 2px solid;
    border-radius: 5px;
    color: #eee;
    font-size: 20px;
    font-weight: bold;
}

.button {
    cursor: pointer;
    padding: 20px;
    background-color: #53c28b;
    border: none;
    border-radius: 5px;
    color: #eee;
    font-size: 20px;
    font-weight: bold;
}

.googleLog {
    padding: 5px;
}
